<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{businessLeaderFacesBean}" />

	<ui:define name="content">
		<h:form id="form">
			<f:metadata>
				<f:event type="preRenderView"
					listener="#{businessLeaderFacesBean.start}" />
			</f:metadata>
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="Business Leader" styleClass="breadcrumb"/>
			<br /><br />
			<p:commandButton action="#{facesBean.add}" icon="ui-icon-plus" title="Add" styleClass="add-button"/>
			<h:outputText value="Total: #{facesBean.list.size()} records" styleClass="total"/>
			<p:dataTable var="bussinessLeader" value="#{facesBean.list}" > 
				<p:column headerText="" class="center" style="width: 10%">
					<p:commandButton action="#{facesBean.edit(bussinessLeader)}" icon="ui-icon-pencil" title="Edit" />
				</p:column>
				<p:column headerText="NAME" sortBy="#{bussinessLeader.name}" style="width:60%">
					<h:outputText value="#{bussinessLeader.name}" />
				</p:column>
				<p:column headerText="NUMBER OF RESOURCES" class="center" sortBy="#{bussinessLeader.resources.size()}" style="width:20%" >
					<h:outputText value="#{bussinessLeader.resources.size()}" />
				</p:column>
				<p:column headerText="SOW" class="center" sortBy="#{bussinessLeader.sow.name}" style="width:20%" >
					<h:outputText value="#{bussinessLeader.sow.name}" />
				</p:column>
				<p:column headerText="STATUS" class="center" sortBy="#{bussinessLeader.status}" style="width:20%" >
					<h:outputText value="#{bussinessLeader.status.name}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>


</ui:composition>