<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/template/template.xhtml">
	
	<ui:define name="content">
		<h:form id="form">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="Change Password" class="breadcrumb" />				
			<br /><br />
			<h:panelGrid columns="2" cellpadding="5" cellspacing="3">
				<h:outputLabel for="pwd1" value="New Password: *" />
		        <p:password id="pwd1" value="#{loginController.newPassword}" match="pwd2" label="New Password" required="true" />
		 
		        <h:outputLabel for="pwd2" value="Confirm Password: *" />
		        <p:password id="pwd2" value="#{loginController.confirmPassword}" label="Confirm Password" required="true" />			
			</h:panelGrid>
			<br /><br />
			<p:commandButton action="#{loginController.changePassword}" icon="ui-icon-disk" value="Save" />
			<p:commandButton action="#{loginController.cancel}" icon="ui-icon-close" value="Cancel" />
		</h:form>
	</ui:define>

</ui:composition>