<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:define name="content">
		<h:form>
				
			<p:panel id="sows">				
				<p:panel id="basic" header="Sows" style="margin-bottom:20px">
					<p:repeat value="#{applicationFacesBean.listSow()}" var="sow">						
			            	<p:commandButton value="${sow.name}" id="ajax" update="@form" actionListener="#{applicationFacesBean.listBusinessLeader(sow)}" styleClass="ui-priority-primary">        							
    						</p:commandButton>			        	
					</p:repeat>
				</p:panel>
			</p:panel>				
						
						
			<p:panel rendered="#{applicationFacesBean.sow != null}" id="teams" header="${applicationFacesBean.sow.name} - Business Leaders">
				<p:repeat value="#{applicationFacesBean.list}" var="businessLeader">
					<p:dataList value="#{businessLeader.resources}" var="item"
						type="definition" styleClass="team">
						<f:facet name="header">
							<h:outputText value="#{businessLeader.name}" />
						</f:facet>
						<h:outputText value="#{item.name}" />
						<br />
					</p:dataList>
				</p:repeat>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>