<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{projectFacesBean}" />

	<ui:define name="content">
		<h:form id="form">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="Project" styleClass="breadcrumb"/>						
			<br />
			<p:commandButton action="#{facesBean.add}" icon="ui-icon-plus" title="Add" styleClass="add-button"/>
			<h:outputText value="Total: #{facesBean.list.size()} records" styleClass="total" id="total"/>
			<p:dataTable var="project" value="#{facesBean.list}" id="table"> 
				<p:column headerText="" class="center" style="width: 5%">
					<p:commandButton action="#{facesBean.edit(project)}" icon="ui-icon-pencil" title="Edit" />
				</p:column>
				<p:column headerText="NAME" class="center" sortBy="#{project.name}" style="width:50%">
					<h:outputText value="#{project.name}" />
				</p:column>
				<p:column headerText="SOW" class="center" sortBy="#{project.sow.name}" style="width:30%">
					<h:outputText value="#{project.sow.name}" />
				</p:column>				
				<p:column headerText="Actions" class="center" style="width:5%" >					
					<p:commandButton action="#{facesBean.delete(project)}" rendered="#{sec:areAnyGranted('SUPER_USER')}" ajax="true" update="table" icon="ui-icon-trash" title="Delete" styleClass="add-button"/>					
				</p:column>				
			</p:dataTable>
		</h:form>
	</ui:define>


</ui:composition>