<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{projectFacesBean}" />

	<ui:define name="content">
		<h:form id="form">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="Project : #{facesBean.action}" class="breadcrumb" />
			<br /><br />
			<h:panelGrid columns="2" cellpadding="5" cellspacing="3">
				<p:outputLabel value="Name: *" />
				<p:inputText value="#{facesBean.item.name}" required="true" label="Name" size="20"  />
				
				<p:outputLabel value="ALM ID: *" />
				<p:inputText value="#{facesBean.item.almId}" required="true" label="ALM ID" size="20"  />
				
				<p:outputLabel value="ALM Name: *" />
				<p:inputText value="#{facesBean.item.almName}" required="true" label="ALM Name" size="20"  />
				
				<p:outputLabel value="Sow: *" />
				<p:selectOneMenu value="#{facesBean.item.sow}" converter="#{facesBean.sowConverter}">
					<f:selectItems value="#{facesBean.listSow()}" />
				</p:selectOneMenu>
								
				<p:outputLabel value="Description:" />
				<p:inputTextarea rows="10" cols="50" value="#{facesBean.item.description}" label="Description" size="20"  />					
			</h:panelGrid>			
			<br /><br />
			<p:commandButton action="#{facesBean.save}" icon="ui-icon-disk" value="Save" />
			<p:commandButton action="#{facesBean.cancel}" icon="ui-icon-close" value="Cancel" immediate="true"  />
		</h:form>
	</ui:define>

</ui:composition>