<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{reportFacesBean}" />

	<ui:define name="content">
		<h:form id="form">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="Report" styleClass="breadcrumb"/>
			<br /><br />
			<p:fieldset legend="Copy Job process" class="filter" id="process">
				<h:panelGrid columns="6" cellpadding="5" cellspacing="3">
					<p:outputLabel value="Copying Stories/Defetcs from : " />
					<h:outputText value="#{facesBean.startDate}">
                		<f:convertDateTime pattern="MMM dd yyyy" />
            		</h:outputText>		
					<p:outputLabel value=" to " />
					<h:outputText value="#{facesBean.endDate}">
                		<f:convertDateTime pattern="MMM dd yyyy" />
            		</h:outputText>
					<p:commandButton actionListener="#{facesBean.startJob}" icon="ui-icon-power" value="Start" update="messages"/>
				</h:panelGrid>
			</p:fieldset>
			<br /><br />
			<p:fieldset legend="Generate" class="filter" id="filter">
				<h:panelGrid columns="6" cellpadding="5" cellspacing="3">
					<p:outputLabel value="Date Range: " />
					<p:calendar value="#{facesBean.startDate}" pattern="MMM dd yyyy"/>
					<p:outputLabel value=" to " /> 
					<p:calendar value="#{facesBean.endDate}" pattern="MMM dd yyyy"/>
					<p:outputLabel value="Sow:" />
					<p:selectOneMenu value="#{facesBean.sow}" converter="#{facesBean.sowConverter}">
						<f:selectItems value="#{facesBean.listSow()}" />
					</p:selectOneMenu>
					<p:commandButton actionListener="#{facesBean.generate}" icon="ui-icon-script" title="Generate" />
					<p:commandButton ajax="false" icon="ui-icon-arrowthick-1-s" title="Download" >
						<p:fileDownload value="#{facesBean.file}" />
					</p:commandButton>
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>


</ui:composition>