<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{resourceFacesBean}" />

	<ui:define name="content">
		<h:form id="form">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="Resource : #{facesBean.action}" class="breadcrumb" />
			<br /><br />
			<h:panelGrid columns="2" cellpadding="5" cellspacing="3">
				<p:outputLabel value="Name: *" />
				<p:inputText value="#{facesBean.item.name}" />
				<p:outputLabel value="Status: *" />
				<p:selectOneMenu value="#{facesBean.item.status}" converter="#{facesBean.enumConverter}">
					<f:selectItems value="#{facesBean.listStatus()}" />
				</p:selectOneMenu>
				<p:outputLabel value="Role: *" />
				<p:selectOneMenu value="#{facesBean.item.role}" converter="#{facesBean.enumConverter}">
					<f:selectItems value="#{facesBean.listRoles()}" />
				</p:selectOneMenu>
				<p:outputLabel value="Business Leader: *" />
				<p:selectOneMenu value="#{facesBean.item.businessLeader}" converter="#{facesBean.businessLeaderConverter}">
					<f:selectItems value="#{facesBean.listBusinessLeaders()}" />
				</p:selectOneMenu>
				<p:outputLabel value="EmployeeID: *" />
				<p:inputText value="#{facesBean.item.employeeId}" />
				<p:outputLabel value="Project: *" />
				<p:selectOneMenu value="#{facesBean.item.project}" converter="#{facesBean.projectConverter}">
					<f:selectItems value="#{facesBean.listProject()}" />
				</p:selectOneMenu>
			</h:panelGrid>
			<br /><br />
			<p:commandButton action="#{facesBean.save}" icon="ui-icon-disk" value="Save" />
			<p:commandButton action="#{facesBean.cancel}" icon="ui-icon-close" value="Cancel" />
		</h:form>
	</ui:define>

</ui:composition>