<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{resourceFacesBean}" />

	<ui:define name="content">
		<h:form id="form">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="Resource" styleClass="breadcrumb"/>
			<br /><br />
			<p:fieldset legend="Filter" class="filter" id="filter">
				<h:panelGrid columns="2" cellpadding="5" cellspacing="3">
					<p:outputLabel value="Status: " />
					<p:selectOneMenu value="#{facesBean.filter.status}" converter="#{facesBean.enumConverter}">
						<f:selectItems value="#{facesBean.listStatus()}" />
					</p:selectOneMenu>
					<p:outputLabel value="Role: " />
					<p:selectOneMenu value="#{facesBean.filter.role}" converter="#{facesBean.enumConverter}">
						<f:selectItems value="#{facesBean.listRoles()}" />
					</p:selectOneMenu>
					<p:outputLabel value="Business Leader: " />
					<p:selectOneMenu value="#{facesBean.filter.businessLeader}" converter="#{facesBean.businessLeaderConverter}">
						<f:selectItems value="#{facesBean.listBusinessLeaders()}" />
					</p:selectOneMenu>
					<p:outputLabel value="Project: " />
					<p:selectOneMenu value="#{facesBean.filter.project}" converter="#{facesBean.projectConverter}">
						<f:selectItems value="#{facesBean.listProject()}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<br/><br/>
				<p:commandButton actionListener="#{facesBean.filter}" icon="ui-icon-search" value="Search" update="table, total" ajax="true"/>
				<p:commandButton actionListener="#{facesBean.clean}" icon="ui-icon-close" value="Clean" update="table, filter, total"/>
			</p:fieldset>
			<br />
			<p:commandButton action="#{facesBean.add}" icon="ui-icon-plus" title="Add" styleClass="add-button"/>
			<h:outputText value="Total: #{facesBean.list.size()} records" styleClass="total" id="total"/>
			<p:dataTable id="table" var="item" value="#{facesBean.list}" > 
				<p:column headerText="" class="center" style="width: 10%">
					<p:commandButton action="#{facesBean.edit(item)}" icon="ui-icon-pencil" title="Edit" />
				</p:column>
				<p:column headerText="NAME" sortBy="#{item.name}" style="width:30%">
					<h:outputText value="#{item.name}" />
				</p:column>
				<p:column headerText="ROLE" class="center" sortBy="#{item.role}" style="width:20%" >
					<h:outputText value="#{item.role.name}" />
				</p:column>
				<p:column headerText="BUSINESS LEADER" sortBy="#{item.businessLeader.name}" style="width:30%" >
					<h:outputText value="#{item.businessLeader.name}" />
				</p:column>
				<p:column headerText="EMPLOYEEID" sortBy="#{item.employeeid}" style="width:30%" >
					<h:outputText value="#{item.employeeId}" />
				</p:column>
				<p:column headerText="STATUS" class="center" sortBy="#{item.status}" style="width:20%" >
					<h:outputText value="#{item.status.name}" />
				</p:column>
				<p:column headerText="Actions" class="center" style="width:10%" >
					<p:commandButton action="#{facesBean.delete(item)}" rendered="#{sec:areAnyGranted('SUPER_USER')}" ajax="true" update="table" icon="ui-icon-trash" title="Delete" styleClass="add-button"/>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>


</ui:composition>