<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{storyFacesBean}" />

	<ui:define name="content">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="Story: #{facesBean.action}" class="breadcrumb" />
			<br /><br />
			<p:fieldset legend="ALM Stories Filter" class="filter" id="filter" toggleable="true" toggleSpeed="500">
				<h:form id="formFilter">
					<h:panelGrid columns="2" cellpadding="5" cellspacing="3">
						<p:column>
							<p:outputLabel value="Start Date: *" />
						</p:column>
						<p:column>
							<p:calendar value="#{facesBean.almFilter.startDate}" pattern="MMM dd yyyy" required="true" label="Start Date"/>
						</p:column>
						<p:column>
							<p:outputLabel value="End Date: *" />
						</p:column>
						<p:column>	
							<p:calendar value="#{facesBean.almFilter.endDate}" pattern="MMM dd yyyy" required="true" label="End Date" />
						</p:column>
						<p:column>
							<p:outputLabel value="ALM User ID: *" />
						</p:column>
						<p:column>	
							<p:inputText value="#{facesBean.almFilter.userId}" id="userId" required="true" label="ALM User ID" />
							<p:watermark for="userId" value="Eg. e000000@mastercard.com" id="watermark" />
						</p:column>					
						<p:column>
							<p:outputLabel value="Filter Based ON: *" />
						</p:column>
						<p:column>	
							<p:selectOneMenu value="#{facesBean.almFilter.filterTypeEnum}" converter="#{facesBean.enumConverter}">
							 	<f:selectItems value="#{facesBean.listAlmFilterType()}" />						
							</p:selectOneMenu>
						</p:column>
										
					</h:panelGrid>
					<br/><br/>
					<p:commandButton actionListener="#{facesBean.filterAlmStories}" icon="ui-icon-search" value="Search" process="@this,formFilter" update="almTable, total" ajax="true"/>
					<p:commandButton actionListener="#{facesBean.cleanAlmStories}" icon="ui-icon-close" value="Clean" update="almTable, filter, total" ajax="true" imediate="true" />
					
					<br />	
				<h:outputText value="Total: #{facesBean.almStories.size()} records" styleClass="total" id="total"/>
				<p:dataTable var="story" value="#{facesBean.almStories}" id="almTable">
					<p:column headerText="" class="center" style="width:5%">
						<h:selectBooleanCheckbox value="#{story.copy}" />
					</p:column>
					<p:column headerText="NUMBER" class="center" style="width:10%">
						<h:outputText value="#{story.number}" />						
					</p:column>
					<p:column headerText="DESCRIPTION" class="center" style="width:30%">
						<h:outputText value="#{story.description}" />
					</p:column>
					<p:column headerText="DATE" class="center" style="width:10%">
						<h:outputText value="#{story.date}" >
							<f:convertDateTime pattern="MM/dd/yyyy" />
						</h:outputText>
					</p:column>
					<p:column headerText="ALM Status" class="center" style="width:10%" >
						<h:outputText value="#{story.almStatus}" />
					</p:column>
					<p:column headerText="STATUS" class="center" style="width:10%" >
						<h:outputText value="#{story.status.name}" />
					</p:column>
					<p:column headerText="POINTS" class="center" style="width:10%" >
						<h:outputText value="#{story.points}" />
					</p:column>				
					<p:column headerText="RESOURCE" style="width:20%" >
						<p:selectOneMenu value="#{story.resource}" disabled="#{sec:areNotGranted('SUPER_USER,REVIEWER,MANAGER')}" converter="#{facesBean.resourceConverter}">
							<f:selectItems value="#{facesBean.listResources()}" />
						</p:selectOneMenu>
					</p:column>				
				</p:dataTable>
				<br /><br />
				<p:commandButton action="#{facesBean.copyStories}" icon="ui-icon-disk" value="Copy Selected(s)" ajax="false" imediate="true"/>
				</h:form>
			</p:fieldset>
			
			<p:fieldset legend="Story" class="filter" id="story" toggleable="true" toggleSpeed="500" collapsed="true">
				<h:form id="formStory">
					<h:panelGrid columns="2" cellpadding="5" cellspacing="3">
						<p:outputLabel value="Date: *" />
						<p:calendar value="#{facesBean.item.date}" pattern="MMM dd yyyy"/>
						<p:outputLabel value="Resource: *" />
						<p:selectOneMenu value="#{facesBean.item.resource}" disabled="#{sec:areNotGranted('SUPER_USER,REVIEWER,MANAGER')}" converter="#{facesBean.resourceConverter}">
							<f:selectItems value="#{facesBean.listResources()}" />
						</p:selectOneMenu>
						<p:outputLabel value="Number: *" />
						<p:inputText value="#{facesBean.item.number}" />
						<p:outputLabel value="Points: *" />
						<p:inputText value="#{facesBean.item.points}" />
						<p:outputLabel value="Status: *" />
						<p:selectOneMenu value="#{facesBean.item.status}" converter="#{facesBean.enumConverter}">
							<f:selectItems value="#{facesBean.listStatus()}" />
						</p:selectOneMenu>
						<p:outputLabel value="Comments: " />
						<p:inputTextarea rows="10" cols="50" value="#{facesBean.item.comments}" />
					</h:panelGrid>
					<br /><br />
					<p:commandButton action="#{facesBean.save}" icon="ui-icon-disk" value="Save" process="@this,formStory" />
					<p:commandButton action="#{facesBean.cancel}" icon="ui-icon-close" value="Cancel" />
				</h:form>
			</p:fieldset>
		
	</ui:define>

</ui:composition>