<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{storyFacesBean}" />

	<ui:define name="content">
		<h:form id="form">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="Story" styleClass="breadcrumb"/>
			<br /><br />
			<p:fieldset legend="Filter" class="filter" id="filter">
				<h:panelGrid columns="2" cellpadding="5" cellspacing="3">
					<p:outputLabel value="Start Date: *" />
					<p:calendar value="#{facesBean.startDate}" pattern="MMM dd yyyy"/>
					<p:outputLabel value="End Date: *" />
					<p:calendar value="#{facesBean.endDate}" pattern="MMM dd yyyy"/>
					<p:outputLabel value="Number: " />
					<p:inputText value="#{facesBean.filter.number}" />
					<p:outputLabel value="Status: " />
					<p:selectOneMenu value="#{facesBean.filter.status}" converter="#{facesBean.enumConverter}">
						<f:selectItems value="#{facesBean.listStatus()}" />
					</p:selectOneMenu>
					<p:outputLabel value="Resource " />
					<p:selectOneMenu value="#{facesBean.filter.resource}" converter="#{facesBean.resourceConverter}" disabled="#{sec:areNotGranted('SUPER_USER,REVIEWER,MANAGER')}">
						<f:selectItems value="#{facesBean.listResources()}" />
					</p:selectOneMenu>
					<p:outputLabel value="Role: " />
					<p:selectOneMenu value="#{facesBean.filter.role}" converter="#{facesBean.enumConverter}">
						<f:selectItems value="#{facesBean.listRoles()}" />
					</p:selectOneMenu>
					<p:outputLabel value="Business Leader: " />
					<p:selectOneMenu value="#{facesBean.filter.businessLeader}" converter="#{facesBean.businessLeaderConverter}" disabled="#{sec:areNotGranted('SUPER_USER,REVIEWER,MANAGER')}">
						<f:selectItems value="#{facesBean.listBusinessLeaders()}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<br/><br/>
				<p:commandButton actionListener="#{facesBean.filter}" icon="ui-icon-search" value="Search" update="table, total" ajax="true"/>
				<p:commandButton actionListener="#{facesBean.clean}" icon="ui-icon-close" value="Clean" update="table, filter, total"/>				
			</p:fieldset>
			<br />
			<p:commandButton action="#{facesBean.add}" icon="ui-icon-plus" title="Add" styleClass="add-button"/>
			<h:outputText value="Total: #{facesBean.list.size()} records" styleClass="total" id="total"/>
			<p:dataTable var="story" value="#{facesBean.list}" id="table"> 
				<p:column headerText="" class="center" style="width: 10%">
					<p:commandButton action="#{facesBean.edit(story)}" icon="ui-icon-pencil" title="Edit" />
				</p:column>
				<p:column headerText="NUMBER" class="center" sortBy="#{story.number}" style="width:10%">
					<h:outputText value="#{story.number}" />
				</p:column>
				<p:column headerText="DATE" class="center" sortBy="#{story.date}" style="width:10%">
					<h:outputText value="#{story.date}" >
						<f:convertDateTime pattern="MM/dd/yyyy" />
					</h:outputText>
				</p:column>
				<p:column headerText="STATUS" class="center" sortBy="#{story.status}" style="width:20%" >
					<h:outputText value="#{story.status.name}" />
				</p:column>
				<p:column headerText="POINTS" class="center" sortBy="#{story.points}" style="width:10%" >
					<h:outputText value="#{story.points}" />
				</p:column>
				<p:column headerText="RESOURCE" sortBy="#{story.resource.name}" style="width:30%" >
					<h:outputText value="#{story.resource.name}" />
				</p:column>
				<p:column headerText="ROLE" sortBy="#{story.role.name}" style="width:20%" class="center">
					<h:outputText value="#{story.role.name}" />
				</p:column>
				<p:column headerText="BUSINESS LEADER" sortBy="#{story.businessLeader.name}" style="width:30%" >
					<h:outputText value="#{story.businessLeader.name}" />
				</p:column>
				<p:column headerText="" style="width:5%" >
					<p:commandButton action="#{facesBean.delete(story)}" rendered="#{sec:areAnyGranted('SUPER_USER')}" ajax="true" update="table" icon="ui-icon-trash" title="Delete" styleClass="add-button"/>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>


</ui:composition>