<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{userFacesBean}" />

	<ui:define name="content">
		<h:form id="form">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="User : #{facesBean.action}" class="breadcrumb" />
			<br /><br />
			<h:panelGrid columns="2" cellpadding="5" cellspacing="3">
				<p:outputLabel value="Login: *" />
				<p:inputText value="#{facesBean.item.login}" required="true" label="Login" size="10"  />
				<p:outputLabel value="Email: *" />
				<p:inputText value="#{facesBean.item.email}" required="true" label="Email" validatorMessage="Invalid email format" >
					<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
				</p:inputText>
				<p:outputLabel value="Status: *" />
				<p:selectOneMenu value="#{facesBean.item.status}" required="true" label="Status" >
					<f:selectItems value="#{facesBean.listStatus()}" />
				</p:selectOneMenu>
				<p:outputLabel value="Role: *" />
				<p:selectOneMenu value="#{facesBean.item.role}" required="true" label="Role" >
					<f:selectItems value="#{facesBean.listRoles()}" />
				</p:selectOneMenu>
				<p:outputLabel value="Resource: *" />
				<p:selectOneMenu value="#{facesBean.item.resource}" converter="#{facesBean.resourceConverter}" required="true" label="Resource" >
					<f:selectItems value="#{facesBean.listResources()}" />
				</p:selectOneMenu>
								
				<p:outputLabel for="pwd1" value="Password:" rendered="#{facesBean.item.id == null}" />
		        <p:password id="pwd1" value="#{facesBean.item.password}" match="pwd2" label="Password" required="true" rendered="#{facesBean.item.id == null}" />
		 
		        <p:outputLabel for="pwd2" value="Confirm Password:" rendered="#{facesBean.item.id == null}" />
		        <p:password id="pwd2" value="#{facesBean.confirmPassword}" label="Confirm Password" required="true" rendered="#{facesBean.item.id == null}" />	
			</h:panelGrid>
			<h:panelGrid columns="2" cellpadding="5" cellspacing="3">
			
			</h:panelGrid>
			
			<br /><br />
			<p:commandButton action="#{facesBean.save}" icon="ui-icon-disk" value="Save" />
			<p:commandButton action="#{facesBean.cancel}" icon="ui-icon-close" value="Cancel" immediate="true"  />
		</h:form>
	</ui:define>

</ui:composition>