<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/template/template.xhtml">

	<ui:param name="facesBean" value="#{userFacesBean}" />

	<ui:define name="content">
		<h:form id="form">
			<p:messages id="messages" showDetail="true" autoUpdate="true" />
			<h:outputText value="User" styleClass="breadcrumb"/>						
			<br />
			<p:commandButton action="#{facesBean.add}" icon="ui-icon-plus" title="Add" styleClass="add-button"/>
			<h:outputText value="Total: #{facesBean.list.size()} records" styleClass="total" id="total"/>
			<p:dataTable var="user" value="#{facesBean.list}" id="table"> 
				<p:column headerText="" class="center" style="width: 10%">
					<p:commandButton action="#{facesBean.edit(user)}" icon="ui-icon-pencil" title="Edit" />
				</p:column>
				<p:column headerText="LOGIN" class="center" sortBy="#{user.login}" style="width:30%">
					<h:outputText value="#{user.login}" />
				</p:column>
				<p:column headerText="EMAIL" class="center" sortBy="#{user.email}" style="width:30%">
					<h:outputText value="#{user.email}" />
				</p:column>								
				<p:column headerText="STATUS" class="center" sortBy="#{user.status}" style="width:10%" >
					<h:outputText value="#{user.status}" />
				</p:column>				
				<p:column headerText="RESOURCE" sortBy="#{user.resource.name}" style="width:30%" >
					<h:outputText value="#{user.resource.name}" />
				</p:column>
				<p:column headerText="ROLE" sortBy="#{user.role}" style="width:20%" class="center">
					<h:outputText value="#{user.role}" />
				</p:column>
				<p:column headerText="Actions" class="center" style="width:20%" >					
					<p:commandButton action="#{facesBean.delete(user)}" rendered="#{sec:areAnyGranted('SUPER_USER')}" ajax="true" update="table" icon="ui-icon-trash" title="Delete" styleClass="add-button"/>
					<p:commandButton action="#{facesBean.resetPassword(user)}" rendered="#{sec:areAnyGranted('SUPER_USER')}" ajax="true" update="table" icon="ui-icon-refresh" title="Reset Password" styleClass="add-button"/>
				</p:column>				
			</p:dataTable>
		</h:form>
	</ui:define>


</ui:composition>