<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:sec="http://www.springframework.org/security/tags">

<h:head>
	<title>Monthly Status Report - MasterCard IT - Wipro</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="#{request.contextPath}/css/style.css" />
</h:head>

<ui:param name="applicationFacesBean" value="#{applicationFacesBean}" />

<h:body>
	<f:view>
		<h:form>			
			<p:panelGrid columns="3" width="60%,20%,20%">
				<p:panel class="header">
					<h:outputText value="Monthly Status Report" class="title"/>
				</p:panel>
				<p:panel>
					<h:outputText value="Welcome" />
				</p:panel>
				<p:panel>
					<p:menubar>
				        <p:submenu label="#{loginController.user.resource.name}" icon="ui-icon-person">
				            <p:menuitem value="Change Password" icon="ui-icon-refresh" url="/pages/change-password.xhtml" />
				            <p:menuitem value="Logout" icon="ui-icon-unlocked" action="#{loginController.logout}" />									            
				        </p:submenu>
		        	</p:menubar>
				</p:panel>				
			</p:panelGrid>				
			<p:tabMenu activeIndex="#{applicationFacesBean.indexSelected}">
				<p:menuitem value="Home" icon="ui-icon-home" action="#{applicationFacesBean.goToHome}" />				
				<p:menuitem value="Business Leader" icon="ui-icon-suitcase" action="#{applicationFacesBean.goToBusinessLeader}" rendered="#{sec:areAnyGranted('SUPER_USER,REVIEWER,MANAGER')}" />
				<p:menuitem value="Resource" icon="ui-icon-person" action="#{applicationFacesBean.goToResource}" rendered="#{sec:areAnyGranted('SUPER_USER,REVIEWER,MANAGER')}" />
				<p:menuitem value="Story" icon="ui-icon-document" action="#{applicationFacesBean.goToStory}" />
				<p:menuitem value="Report" icon="ui-icon-clipboard" action="#{applicationFacesBean.goToReport}" rendered="#{sec:areAnyGranted('SUPER_USER,MANAGER')}" />
				<p:menuitem value="User" icon="ui-icon-person" action="#{applicationFacesBean.goToUser}" rendered="#{sec:areAnyGranted('SUPER_USER,REVIEWER')}" />
				<p:menuitem value="Project" icon="ui-icon-script" action="#{applicationFacesBean.goToProject}" rendered="#{sec:areAnyGranted('SUPER_USER,MANAGER')}" />
				<p:menuitem value="SOW" icon="ui-icon-script" action="#{applicationFacesBean.goToSow}" rendered="#{sec:areAnyGranted('SUPER_USER,MANAGER')}" />				
			</p:tabMenu>
		</h:form>
		
		<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
				
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
    		<img src="/msr/images/ajaxloadingbar.gif" />    		
		</p:dialog>
						
		<p:panel styleClass="content">
			<ui:insert name="content" />
		</p:panel>
	</f:view>
</h:body>
</html>