* {
	font-family: Calibri;
	font-size: 15px;
}

.header {
	background-image: url("../images/app-icon.png") !important;
	background-repeat: no-repeat ;
	background-position: 17px 17px;
	border: none;
}

.title { 
	padding-top: -5px;
	margin-left: 40px;
	font-size: 35px;
	font-style: bold;
	color: #00CCFF;
}

.content {
	background-color: #FAFAFA;
	margin-top: -21px;
	min-height: 600px; 
}

#teams {
	width: 90%;
	margin-left: auto ;
	margin-right: auto ;
	border: none;
	background-color: #FAFAFA;
}

.team {
	width: 13%;
	display: inline-block;
	margin: 10px;
	position: 0px;
	vertical-align: top;
}

.breadcrumb {
	font-size: 20px;
	color: #00CCFF;
	font-weight: bold;
}

.add-button {
	display: inline-block;
	margin-bottom: 3px;
	margin-left: 5px;
}

.total {
	display: inline-block;
	width: 97%;
	text-align: right;
	margin-bottom: 3px;
}

.ui-outputlabel {
	font-size: 16px !important;
	font-color: #C0C0C0 !important;
}

.ui-inputtext {
	display: block;
	width: 400px !important;
}

.ui-inputfield {
	display: block;
	width: 400px !important;
}

.ui-selectonemenu .ui-inputfield {
	display: block;
	width: 370px !important;
}

.ui-inputtextarea {
	display: block;
	width: 400px !important;
}

.ui-datalist-header {
	background-color: #00CCFF;
}

.ui-datalist-item {
	margin-left: 5px;
}
	
.center {
	text-align: center;
}

.ui-datatable-odd:hover,
.ui-datatable-even:hover {
	background-color: #FFFF99;
}

.ui-button { 
	margin-right: 10px;
}