<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:my="http://www.XXXX.com/my/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
    xmlns:security="http://www.springframework.org/security/facelets/tags">
    
    
 <h:head>
	<title>Monthly Status Report - MasterCard IT - Wipro</title>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="#{request.contextPath}/css/style.css" />
</h:head>	
<p:panel styleClass="content">
	<p:dialog header="Login" closable="false" resizable="false" draggable="false" visible="true" widgetVar="dlg1" minHeight="300" width="350" >
		<center>
			<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />			
			<h:form id="loginForm" prependId="false">        	
	            <p:panelGrid columns="2">  
	                <h:outputLabel for="j_username" value="User: " />  
	                <h:inputText id="j_username" value="#{loginController.user.login}" required="true" requiredMessage="User name is required" autocomplete="false"/>  
	                <h:outputLabel for="j_password" value="Password: " />  
	                <h:inputSecret id="j_password" value="#{loginController.user.password}" required="true" requiredMessage="Password is required"/>  
					<p:commandButton id="submitButton" value="Login" action="#{loginController.login}" />  
	            </p:panelGrid>  
	        </h:form>
		</center>    
	</p:dialog>			
</p:panel>
			
	
</html>